body {
    color: white;
    background-image: url("../assets/Images/personas_trabajando.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
}

.conteiner_principal {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    text-align: center;
    position: relative;
    min-height: 90vb;
    text-wrap: wrap;
}

.texto-principal {
    font-size: 2rem;
    text-shadow: 2px 2px 1px black ;
    padding: 10%;
}

.frase-principal {
    font-size: 3rem;
    text-shadow: 2px 2px 1px black ;
}

.nosotros {
    min-height: 85vb;
}

.texto-nosotros {
    text-align: center;
    font-size: 3rem;
    margin-top: 5%;
}

.conteiner_nosotros {
    text-shadow: 2px 2px 1px black ;
    display: flex;
    text-align: center;
    margin: 10%;
    gap: 10%;
}

.columna_nosotros {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}
 
@media screen and (max-width:1024px) {
    .texto-principal {
        font-size: 1.5rem;
    }
    .frase-principal {
        font-size: 2.5rem;
    }
}

@media screen and (max-width:750px) { 
    .conteiner_nosotros {
        flex-wrap: wrap;
        margin: 5%;
        margin-top: 20%;
        gap: 5%;
    }
    .texto-nosotros {
        font-size: 2rem;
    }
    .nosotros {
        min-height: 88vb;
    }
}

@media screen and (max-width:425px) {
    .texto-principal {
        font-size: 1rem;
    }
    .frase-principal {
        font-size: 2rem;
    }
}